h2{
  text-align: center;
  margin-left: 50px;
}
form{
  align-items: center;
}
mat-list{
  max-width: 300px;
  margin: 30px 50px 0 50px;
}

.cost{
  width: 310px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
input{
  border: none;
}
