<!--<div class="car">-->
  <!--<h2>Cosul cu marfuri</h2>-->
  <!--<mat-list>-->
    <!--<mat-list-item *ngFor="let card of itemsCos">{{card.denumire}}</mat-list-item>-->
  <!--</mat-list>-->
<!--</div>-->


<mat-list>
  <h2 >Cosul cu marfuri</h2>
  <mat-list-item *ngFor="let card of itemsCos">
    <h4 matLine>{{card.denumire}} <p></p></h4>
    <p matLine class="demo-2"> {{card.pret}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<div class="cost">
  <div>Suma totala: </div>
  <input type="text" readonly [(ngModel)]="rez">
</div>

