<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Redactarea componentelor</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Insert">
        <div class="demo-tab-content">
         <app-add-item></app-add-item>
        </div>
      </mat-tab>
      <mat-tab label="Update">
        <div class="demo-tab-content">
          <app-update-item></app-update-item>
        </div>
      </mat-tab>

      <mat-tab label="Delete">
        <div class="demo-tab-content">
          <app-delete-item></app-delete-item>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
