<div class="container" >
  <table border="none" *ngIf="! editMod ">
    <tr>
      <td>No</td>
      <td>Denumire</td>
      <td>Pret</td>
      <td>Image</td>
      <td>Ingrediente</td>
      <td>Operatia</td>
    </tr>
    <tr *ngFor="let card of cards let i = index">
      <td>{{i+1}}</td>
      <td>{{card.denumire}}</td>
      <td>{{card.pret}}</td>
      <td>{{card.image}}</td>
      <td>{{card.ingrediente}}</td>
      <td  (click)="setUpdateMod(card)"><a ><mat-icon svgIcon="thumbs-ups" id="updateIcon"></mat-icon></a></td>
    </tr>
  </table>


  <form class="example-form" #foodItem *ngIf=" editMod ">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Denumire mincare" name="den" id="den" [(ngModel)]="den">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Pret" name="pret" id="pret" [(ngModel)]="pret">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="url imagine" name="image" id="imagine" [(ngModel)]="image">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="ingredinte" name="ingreditente" id="ingrediente" [(ngModel)]="ingrediente"></textarea>
    </mat-form-field><br>
  </form>

  <button mat-raised-button color="primary" (click)="update()" *ngIf=" editMod " >updte product</button>
  <button mat-raised-button color="accent" (click)="editMod = false " *ngIf=" editMod "><mat-icon>highlight_off</mat-icon></button>

</div>


