section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
button{
  z-index: 4;
  width: 100%;
  position: fixed;
  margin-top: 62px;
}
app-item{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 110px;
}

app-car{
  width: 30%;
  position: fixed;
  margin-top: 70px;
  right: 0;
}
app-select-items{
  margin-top: 110px;
}
