<section class="container">
  <button mat-raised-button color="primary" class="toogle" (click)="showElements()">show select</button>
    <app-select-items *ngIf="show; "></app-select-items>
    <app-item></app-item>
    <app-car *ngIf="!show"></app-car>
</section>

