<div class="container">
  <table border="1px solid red">
    <tr>
      <td>No</td>
      <td>Denumire</td>
      <td>Pret</td>
      <td>Image</td>
      <td>Ingrediente</td>
      <td>Operatia</td>
    </tr>
    <tr *ngFor="let card of cards let i = index">
      <td>{{i+1}}</td>
      <td>{{card.denumire}}</td>
      <td>{{card.pret}}</td>
      <td>{{card.image}}</td>
      <td>{{card.ingrediente}}</td>
      <td (click)="deleteProduct(card.id)"><mat-icon svgIcon="thumbs-up"></mat-icon></td>
    </tr>
  </table>
</div>
