<form class="example-form" #foodItem >
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Denumire mincare" name="den" id="den" [(ngModel)]="den">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pret" name="pret" id="pret" [(ngModel)]="pret">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="url imagine" name="image" id="imagine" [(ngModel)]="image">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="ingredinte" name="ingreditente" id="ingrediente" [(ngModel)]="ingrediente"></textarea>
  </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="addNewProduct()">add product</button>
<h3 *ngIf="adaugat">{{confirmare}}</h3>


