<div class="search">
  <p>Cauta</p>
  <input type="text" [(ngModel)]="search">
</div>
<div class="filtrer">
  <select  name="" id=""[ngModel]="selectedType">
    <!--<option *ngFor="let i of Type">{{i.name}}</option>-->
    <option *ngFor="let card of cards">{{card.denumire}}</option>
  </select>
</div>
<mat-card class="example-card" *ngFor="let card of cards | searchItem: search | dejun: selectedType">
  <img mat-card-image src="{{card.image}}">
  <mat-card-header>
    <mat-card-title >{{card.denumire}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{card.ingrediente}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="price">Pret: {{card.pret}} MDL</div>
    <button mat-button (click)="addCar(card)">Add to car</button>
  </mat-card-actions>
</mat-card>

