.search{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
}
input{
  margin-left: 15px;
  width: 30%;

}
.filtrer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
mat-card{
  max-width: 240px;
  height: 350px;
  width: 100%;
  margin: 12px;
}
mat-card-actions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
mat-card-title{
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
}
mat-card-content{
  height: 70px;
  font-size: 13px;
}
.price{

}
button{
  background-color: #21c34c;
  color: white;
  border: 2px solid#21c34c;
}

