a{
  margin-left: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
nav{
  display: flex;
  flex-direction: row;
  margin:0;
  padding:0;
  position: fixed;
  width: 100%;
  z-index: 30;
}
input{
  width: 200px;
  height: 25px;
  align-self: right;

}
