<nav>
  <mat-toolbar>
    <mat-toolbar-row>
      <!--<span>First Row</span>-->
      <a routerLink="Home" >Home</a>
      <a routerLink="Admin">Admin</a>

    </mat-toolbar-row>
  </mat-toolbar>

</nav>
<router-outlet></router-outlet>
